env
env2
venv/
.venv/
*.mp4
tests/test_outputs/*
!tests/test_inputs/metallica.mp4
vosk models/
*.pyc
__pycache__
build
dist
*.DS_Store
*.egg-info
.tox
.python-version
voxgrep_library.db
*.log
*.exe
.voxgrep_cache/
2.0.0
*.vtt
